The packages used were `tidyverse`, `tidyxl`, `readxl`, `dplyr`, and `janitor`.

`tidyverse` was used to wrangle the data into tidy dataframes. \
`readxl` was used to read the .xlsx format data, and `tidyxl` was used to extract the data from within specific sheets of the file. \
`dplyr` was used to \
`janitor` was used to

In [18]:
# import required libraries
library(tidyverse)
library(tidyxl)
library(readxl)
library(dplyr)
library(janitor)

The data was obtained from StatsNZ, and can be found by following the link "https://www.stats.govt.nz/information-releases/statistical-area-1-dataset-for-2018-census-updated-march-2020". From here, the "Regional files (Microsoft Excel Open XML)" for the Canterbury region is to be downloaded. This consists of a zipped file containing six _.xlsx_ files. Four of these files are used in the subsequent wrangling: *2018-SA1-dataset-households-CanterburyRegion*, *2018-SA1-dataset-individual-part-1-CanterburyRegion_updated_28-7-20*, *2018-SA1-dataset-individual-part-2-CanterburyRegion*, and *2018-SA1-dataset-individual-part-3a-CanterburyRegion*. These files have been as part of this project for simplicity, to *canterbury_households.xlsx*, *canterbury_population.xlsx*, *canterbury_income.xlsx*, and *canterbury_employment.xslx*, respectively.

The file containing Canterbury income data was read using the `read_excel()` function. The required sheet was labelled "SA2", which consists of a number of columns referencing various suburb-level features, however we are focusing specifically on those related to income brackets.

When the data was read, it structured the tibble column names by adding the string '...x' to the end, where x refers to the column index value. This string was removed using the `sub()` function. The "Area_Description" column name was also changed to "Suburb" for simplicity.

In [19]:
# load income data
income_data <- read_excel("Region_data_income.xlsx", 
                                 sheet = "SA2",
                                 col_names = TRUE,
                                 skip = 9)
income_data <- income_data %>% filter_all(any_vars(!is.na(.)))
income_data <- income_data[,-c(1)]

colnames(income_data) <-  sub("\\...*", "", colnames(income_data))
names(income_data)[names(income_data) == "Area_Description"] <- "Suburb"

head(income_data)

New names:
* `No religion` -> `No religion...3`
* Buddhism -> Buddhism...4
* Christian -> Christian...5
* Hinduism -> Hinduism...6
* Islam -> Islam...7
* ...

  Suburb          No religion Buddhism Christian Hinduism Islam Judaism
1 Kaikoura Ranges 435         6        789       6        0     0
2 Kaikoura        702         9        1179      0        3     3
3 Hanmer Range    63          0        114       0        0     0
4 Amuri           657         3        1098      3        0     3
5 Hanmer Springs  258         3        303       3        3     3
6 Upper Hurunui   390         6        834       3        0     0
  Maori religions, beliefs and philosophies Spiritualism and New Age religions
1 6                                         3
2 21                                        12
3 0                                         0
4 6                                         3
5 0                                         6
6 0                                         6
  Other religions, beliefs and philosophies ... Bicycle Walk or jog School bus
1 3                                         ... 0       0           21
2 3                                         ... 21      42          81
3 0                                         ... C       C           C
4 3                                         ... 9       63          216
5 0                                         ... 18      15          3
6 0                                         ... 12      18          144
  Public bus Train Ferry Other Total stated Not elsewhere included Total
1 3          0     0     0     78           0                       78
2 0          0     0     0     324          0                      324
3 C          C     C     C     C            C                        6
4 6          3     0     0     453          0                      453
5 0          0     0     0     99           0                       99
6 0          0     0     0     252          0                      252

The required columns relating to income were extracted, as well as the suburb column. Several unneccessary columns were dropped

In [20]:
# extracting 2018 individual income information and convert to dataframe
canterbury_income <- income_data[c(1, 264:274)]

canterbury_income = canterbury_income[-11]
canterbury_income = canterbury_income[-10]
canterbury_income = canterbury_income[-9]

head(canterbury_income)

  Suburb          $5,000 or less $5,001 – $10,000 $10,001 – $20,000
1 Kaikoura Ranges 105            57               219
2 Kaikoura        108            69               357
3 Hanmer Range    21             6                30
4 Amuri           174            57               267
5 Hanmer Springs  51             39               114
6 Upper Hurunui   114            57               258
  $20,001 – $30,000 $30,001 – $50,000 $50,001 – $70,000 $70,001 or more
1 201               354               219               213
2 414               492               279               189
3 21                63                33                33
4 207               402               351               258
5 132               255               102               114
6 189               237               171               159
  Median personal income($)
1 35600
2 30200
3 37100
4 38600
5 35300
6 28300

In [21]:
# extracting 2018 individual income information, convert to dataframe, rename columns to dataframe-appropriate values
canterbury_religion <- income_data[c(1:9)]

head(canterbury_religion)

  Suburb          No religion Buddhism Christian Hinduism Islam Judaism
1 Kaikoura Ranges 435         6        789       6        0     0
2 Kaikoura        702         9        1179      0        3     3
3 Hanmer Range    63          0        114       0        0     0
4 Amuri           657         3        1098      3        0     3
5 Hanmer Springs  258         3        303       3        3     3
6 Upper Hurunui   390         6        834       3        0     0
  Maori religions, beliefs and philosophies Spiritualism and New Age religions
1 6                                         3
2 21                                        12
3 0                                         0
4 6                                         3
5 0                                         6
6 0                                         6

In order to get more specific regional information, the same file was read again, this time specifying the "Geographic key" sheet. This sheet provides detailed Canterbury region data, of which columns the *Statistical area 2 description*, *Territorial authority description*, and *Regional council description* were required. These were renamed to "Suburb", "Territory" and "Region", respectively, for simplicity.

In [22]:
# load region data
region <- read_excel("Region_data_income.xlsx",
                     sheet = "Geographic key",
                     col_names = TRUE,
                     skip = 2)
head(region)

  Statistical area 1 code (2018 areas) Statistical area 2 code (2018 areas)
1 7023547                              308800
2 7023548                              308800
3 7023549                              308800
4 7023550                              308800
5 7023551                              308800
6 7023552                              308800
  Statistical area 2 description Territorial authority code (2018 areas)
1 Kaikoura Ranges                054
2 Kaikoura Ranges                054
3 Kaikoura Ranges                054
4 Kaikoura Ranges                054
5 Kaikoura Ranges                054
6 Kaikoura Ranges                054
  Territorial authority description Ward code (2018 areas) Ward description
1 Kaikoura District                 05499                  Area Outside Ward
2 Kaikoura District                 05499                  Area Outside Ward
3 Kaikoura District                 05499                  Area Outside Ward
4 Kaikoura District                 05499                  Area Outside Ward
5 Kaikoura District                 05499                  Area Outside Ward
6 Kaikoura District                 05499                  Area Outside Ward
  District health board code (2015 areas) District health board description
1 18                                      Canterbury
2 18                                      Canterbury
3 18                                      Canterbury
4 18                                      Canterbury
5 18                                      Canterbury
6 18                                      Canterbury
  Regional council code (2018 areas) Regional council description
1 13                                 Canterbury Region
2 13                                 Canterbury Region
3 13                                 Canterbury Region
4 13                                 Canterbury Region
5 13                                 Canterbury Region
6 13                                 Canterbury Region

In [23]:
# filter to get just suburbs/areas in Canterbury and convert to dataframe
region <- region[c(3, 5, 11)] %>% distinct()
names(region)[names(region) == "Territorial authority description"] <- "Territory"
names(region)[names(region) == "Statistical area 2 description"] <- "Suburb"
names(region)[names(region) == "Regional council description"] <- "Region"

region <- region[region$Region == "Canterbury Region",]
region = data.frame(region)
region

    Suburb                       Territory
1   Kaikoura Ranges              Kaikoura District
2   Kaikoura                     Kaikoura District
3   Hanmer Range                 Hurunui District
4   Amuri                        Hurunui District
5   Hanmer Springs               Hurunui District
6   Parnassus                    Hurunui District
7   Upper Hurunui                Hurunui District
8   Omihi                        Hurunui District
9   Ashley Forest                Hurunui District
10  Balcairn                     Hurunui District
11  Amberley                     Hurunui District
12  Okuku                        Waimakariri District
13  Ashley Gorge                 Waimakariri District
14  Loburn                       Waimakariri District
15  Ashley-Sefton                Waimakariri District
16  Oxford                       Waimakariri District
17  West Eyreton                 Waimakariri District
18  Starvation Hill-Cust         Waimakariri District
19  Fernside                     Waimakariri District
20  Rangiora North West          Waimakariri District
21  Kingsbury                    Waimakariri District
22  Ashgrove                     Waimakariri District
23  Rangiora North East          Waimakariri District
24  Rangiora Central             Waimakariri District
25  Rangiora South East          Waimakariri District
26  Tuahiwi                      Waimakariri District
27  Waikuku                      Waimakariri District
28  Pegasus                      Waimakariri District
29  Eyrewell                     Waimakariri District
30  Swannanoa-Eyreton            Waimakariri District
... ...                          ...
285 Highfield North              Timaru District
286 Highfield South              Timaru District
287 Marchwiel East               Timaru District
288 Waimataitai-Maori Hill       Timaru District
289 Fraser Park                  Timaru District
290 Watlington                   Timaru District
291 Seaview                      Timaru District
292 Timaru Central               Timaru District
293 Parkside                     Timaru District
294 Kensington (Timaru District) Timaru District
295 Timaru East                  Timaru District
296 Inlet Port Timaru            Timaru District
297 Mackenzie Lakes              Mackenzie District
298 Inland water Lake Tekapo     Mackenzie District
299 Opua (Mackenzie District)    Mackenzie District
300 Inland water Lake Pukaki     Mackenzie District
301 Fairlie                      Mackenzie District
302 Twizel                       Mackenzie District
303 Hakataramea                  Waimate District
304 Maungati                     Waimate District
305 Lyalldale                    Waimate District
306 Makikihi-Willowbridge        Waimate District
307 Waimate North                Waimate District
308 Waimate West                 Waimate District
309 Waimate East                 Waimate District
310 Morven-Glenavy-Ikawai        Waimate District
311 Aviemore                     Waitaki District
312 Inland water Lake Ohau       Waitaki District
313 Danseys Pass                 Waitaki District
314 Oceanic Canterbury Region    Area Outside Territorial Authority
    Region
1   Canterbury Region
2   Canterbury Region
3   Canterbury Region
4   Canterbury Region
5   Canterbury Region
6   Canterbury Region
7   Canterbury Region
8   Canterbury Region
9   Canterbury Region
10  Canterbury Region
11  Canterbury Region
12  Canterbury Region
13  Canterbury Region
14  Canterbury Region
15  Canterbury Region
16  Canterbury Region
17  Canterbury Region
18  Canterbury Region
19  Canterbury Region
20  Canterbury Region
21  Canterbury Region
22  Canterbury Region
23  Canterbury Region
24  Canterbury Region
25  Canterbury Region
26  Canterbury Region
27  Canterbury Region
28  Canterbury Region
29  Canterbury Region
30  Canterbury Region
... ...
285 Canterbury Region
286 Canterbury Region
287 Canterbury Region
288 Canterbury Region
289 Canterbury Region
290 Canterbury Region
291 Canterbury Region
292 Canterbury Region
293 Canterbury Region
294 Canterbury Region
295 Canterbury Region
296 Canterbury Region
297 Canterbury Region
298 Canterbury Region
299 Canterbury Region
300 Canterbury Region
301 Canterbury Region
302 Canterbury Region
303 Canterbury Region
304 Canterbury Region
305 Canterbury Region
306 Canterbury Region
307 Canterbury Region
308 Canterbury Region
309 Canterbury Region
310 Canterbury Region
311 Canterbury Region
312 Canterbury Region
313 Canterbury Region
314 Canterbury Region

In [71]:
# rename columns to dataframe appropriate values
names(canterbury_income)[2] <- "5k_or_less"
names(canterbury_income)[3] <- "5k_to_10k"
names(canterbury_income)[4] <- "10k_to_20k"
names(canterbury_income)[5] <- "20k_to_30k"
names(canterbury_income)[6] <- "30k_to_50k"
names(canterbury_income)[7] <- "50k_to_70k"
names(canterbury_income)[8] <- "70k_or_more"
names(canterbury_income)[9] <- "Median_personal_income"

canterbury_income[, 2:9] = sapply(canterbury_income[, 2:9], as.integer)
canterbury_income = data.frame(canterbury_income)

canterbury_income = na.omit(canterbury_income)

head(canterbury_income)

  Suburb          X5k_or_less X5k_to_10k X10k_to_20k X20k_to_30k X30k_to_50k
1 Kaikoura Ranges 105         57         219         201         354
2 Kaikoura        108         69         357         414         492
3 Hanmer Range     21          6          30          21          63
4 Amuri           174         57         267         207         402
5 Hanmer Springs   51         39         114         132         255
6 Upper Hurunui   114         57         258         189         237
  X50k_to_70k X70k_or_more Median_personal_income
1 219         213          35600
2 279         189          30200
3  33          33          37100
4 351         258          38600
5 102         114          35300
6 171         159          28300

In [72]:
write.csv(canterbury_income, "canterbury_income.csv")

The same process used above was followed to extract the following data tables:

In [73]:
# -------- PEOPLE DATASET --------

# load people data
people_data <- read_excel("Region_data_people.xlsx", 
                                 sheet = "SA2",
                                 col_names = TRUE,
                                 skip = 9)
people_data <- people_data %>% filter_all(any_vars(!is.na(.)))
people_data <- people_data[,-c(1)]

colnames(people_data) <-  sub("\\...*", "", colnames(people_data))
names(people_data)[names(people_data) == "Area_Description"] <- "Suburb"

head(people_data)

New names:
* `2006 Census` -> `2006 Census...3`
* `2013 Census` -> `2013 Census...4`
* `2018 Census` -> `2018 Census...5`
* `2006 Census` -> `2006 Census...6`
* `2013 Census` -> `2013 Census...7`
* ...

  Suburb          2006 Census 2013 Census 2018 Census 2006 Census.1
1 Kaikoura Ranges 1419        1545        1689        1551
2 Kaikoura        2202        2010        2223        3333
3 Hanmer Range     216         249         261         405
4 Amuri           2001        2097        2223        2019
5 Hanmer Springs   729         840         960        1617
6 Upper Hurunui   1365        1425        1473        1338
  2013 Census.1 2018 Census.1 2018 Census individual form
1 1650          1737          1383
2 2814          2898          1785
3  546           336          222
4 2088          2202          1953
5 1476          1488          813
6 1422          1434          1284
  Individuals on the household listing only(16) Admin enumeration(16) ...
1 48                                            261                   ...
2 57                                            381                   ...
3 6                                             33                    ...
4 63                                            207                   ...
5 48                                            102                   ...
6 36                                            153                   ...
  Don't know Total stated Not elsewhere included Total Maori descent
1 39         1371         171                    1545  336
2 36         1803         204                    2010  471
3 9          228          21                      249  15
4 39         1908         189                    2097  285
5 9          735          102                     840  87
6 21         1302         126                    1425  138
  No Maori descent Don't know.1 Total stated.1 Not elsewhere included.1 Total.1
1 1314             42           1689           0                        1689
2 1701             51           2223           0                        2223
3 237              9            261            0                         261
4 1878             60           2223           0                        2223
5 858              15           960            0                         960
6 1293             45           1473           0                        1473

In [76]:
# Extracting relevant data from the people dataset - sex, age - and rename columns to dataframe-appropriate values
canterbury_sex <- people_data[c(1, 18:19)]

names(canterbury_sex)[2] <- "Male_count"
names(canterbury_sex)[3] <- "Female_count"

canterbury_sex[, 2:3] = sapply(canterbury_sex[, 2:3], as.integer)
canterbury_sex = data.frame(na.omit(canterbury_sex))

head(canterbury_sex)

Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"
Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"

  Suburb          Male_count Female_count
1 Kaikoura Ranges  894        795
2 Kaikoura        1107       1116
3 Hanmer Range     141        123
4 Amuri           1173       1047
5 Hanmer Springs   480        480
6 Upper Hurunui    747        729

  Suburb          X0.4.years....Male X0.4.years....Female X5.9.years....Male
1 Kaikoura Ranges 39                 45                   45
2 Kaikoura        51                 57                   63
3 Hanmer Range    6                  3                    6
4 Amuri           90                 78                   78
5 Hanmer Springs  33                 18                   15
6 Upper Hurunui   66                 42                   54
  X5.9.years....Female X10.14.years....Male X10.14.years....Female
1 48                   51                   57
2 72                   69                   69
3 9                    3                    9
4 72                   90                   84
5 30                   18                   12
6 51                   60                   51
  X15.19.years....Male X15.19.years....Female X20.24.years....Male ...
1 48                   48                     24                   ...
2 57                   60                     63                   ...
3 6                    6                      3                    ...
4 69                   54                     51                   ...
5 15                   9                      21                   ...
6 51                   36                     21                   ...
  X80.84.years....Male X80.84.years....Female X85.years.and.over....Male
1 12                   9                      3
2 27                   33                     15
3 0                    0                      0
4 6                    9                      9
5 6                    3                      3
6 15                   9                      9
  X85.years.and.over....Female Total.Male Total.Female Total Median.age..Male
1 9                            717        702          1419  41.8
2 18                           1071       1131         2202  41.4
3 0                            111        105           216  45.6
4 6                            1050       954          2001  36.6
5 3                            363        369           729  40.5
6 9                            702        663          1365  41.2
  Median.age..Female Median.age..Total
1 40.4               41.2
2 41.2               41.2
3 41.7               44.4
4 37.2               37.0
5 39.8               40.0
6 40.8               41.0

In [77]:
write.csv(canterbury_sex, "canterbury_sex.csv")

In [78]:
# -------- EMPLOYMENT DATASET --------

# load employment data
employment_data <- read_excel("Region_data_work.xlsx", 
                                 sheet = "SA2",
                                 col_names = TRUE,
                                 skip = 9)
employment_data <- employment_data %>% filter_all(any_vars(!is.na(.)))
employment_data <- employment_data[,-c(1)]

colnames(employment_data) <-  sub("\\...*", "", colnames(employment_data))
names(employment_data)[names(employment_data) == "Area_Description"] <- "Suburb"

head(employment_data)

New names:
* `Employed Full time` -> `Employed Full time...3`
* `Employed Part time` -> `Employed Part time...4`
* Unemployed -> Unemployed...5
* `Not in the Labour Force` -> `Not in the Labour Force...6`
* `Total stated` -> `Total stated...7`
* ...

  Suburb          Employed Full time Employed Part time Unemployed
1 Kaikoura Ranges 615                198                15
2 Kaikoura        900                324                27
3 Hanmer Range    102                36                 0
4 Amuri           840                249                24
5 Hanmer Springs  321                87                 12
6 Upper Hurunui   561                195                15
  Not in the Labour Force Total stated
1 249                     1080
2 507                     1758
3 27                      165
4 327                     1437
5 126                     549
6 258                     1032
  Work and Labour Force Status Unidentifiable Total Employed Full time.1
1 54                                          1131  633
2 57                                          1818  741
3 15                                           183  114
4 72                                          1509  903
5 54                                           603  393
6 12                                          1044  582
  Employed Part time.1 ... Professional Scientific and Technical Services
1 246                  ... 27
2 294                  ... 51
3 45                   ... 3
4 276                  ... 27
5 108                  ... 24
6 207                  ... 15
  Administrative and Support Services Public Administration and Safety
1 12                                  12
2 63                                  66
3 3                                   0
4 15                                  9
5 15                                  9
6 6                                   6
  Education and Training Health Care and Social Assistance
1 18                     9
2 75                     63
3 6                      0
4 75                     21
5 18                     18
6 54                     24
  Arts and Recreation Services Other Services Total stated
1 9                            9              567
2 24                           42             1239
3 12                           0              126
4 3                            21             1176
5 63                           12             558
6 3                            18             555
  Not Elsewhere Included Total
1 0                       567
2 0                      1239
3 0                       126
4 0                      1176
5 0                       558
6 0                       555

In [63]:
# extracting 2018 individual income information, convert to dataframe, rename columns, change column data types
canterbury_employment <- data.frame(employment_data[c(1, 16:19)])

names(canterbury_employment)[2] <- "Employed_full_time"
names(canterbury_employment)[3] <- "Employed_part_time"
names(canterbury_employment)[4] <- "Unemployed"
names(canterbury_employment)[5] <- "Not_in_labour_force"

canterbury_employment[, 2:5] = sapply(canterbury_employment[, 2:5], as.integer)

head(employment_2018)

Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"
Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"
Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"
Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"

  Suburb          Employed_full_time Employed_part_time Unemployed
1 Kaikoura Ranges  834               246                15
2 Kaikoura         969               315                30
3 Hanmer Range     123                39                 0
4 Amuri           1047               297                30
5 Hanmer Springs   498               147                 6
6 Upper Hurunui    594               207                24
  Not_in_labour_force
1 282
2 591
3  48
4 339
5 162
6 357

In [79]:
# Read crime data to extract columns for suburb and territory. Wrangle into a cleaner form
crime_region = read_csv("VICTIM_TIMEPLACE_Migrated_Data_new.csv", col_names = TRUE)

crime_region <- data.frame(crime_region[,-c(1:4, 6:11, 13:17)])

names(crime_region)[names(crime_region) == "Area.Unit"] <- "Suburb"
names(crime_region)[names(crime_region) == "Territorial.Authority"] <- "Territory"

crime_region$Suburb <- substr(as.character(crime_region$Suburb),
                             start = 1,
                             stop = nchar(as.character(crime_region$Suburb))-1)
crime_region$Territory <- substr(as.character(crime_region$Territory),
                             start = 1,
                             stop = nchar(as.character(crime_region$Territory))-1)

head(crime_region)

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  `Month Year` = col_character(),
  `ANZSOC Division` = col_character(),
  `ANZSOC Group` = col_character(),
  `ANZSOC Subdivision` = col_character(),
  `Area Unit` = col_character(),
  `Location Type` = col_character(),
  `Locn Type Division` = col_character(),
  Meshblock = col_double(),
  `Occurrence Day Of Week` = col_character(),
  `Occurrence Hour Of Day` = col_double(),
  `Table 1` = col_character(),
  `Territorial Authority` = col_character(),
  Weapon = col_character(),
  `Year Month` = col_character(),
  `Year Month (copy 2)` = col_character(),
  `Number of Records` = col_double(),
  Victimisations = col_double()
)

  Suburb              Territory
1 Ellerslie South     Auckland
2 Epsom Central       Auckland
3 Glendowie           Auckland
4 Lynnmall            Auckland
5 Mt Victoria         Auckland
6 Onehunga South East Auckland

In [80]:
# Filtering data to retrieve all distinct suburbs in Canterbury
crime_region = distinct(crime_region, Suburb, .keep_all = TRUE)
crime_region <- filter(crime_region, Territory %in% c("Waimakariri District", "Hurunui District", "Waitaki District",
                                                              "Christchurch City", "Ashburton District", "Timaru District",
                                                               "Waimate District", "Selwyn District", "Mackenzie District",
                                                               "Kaikoura District"))
head(crime_region)

  Suburb     Territory
1 Sockburn   Christchurch City
2 Hillmorton Christchurch City
3 Rutland    Christchurch City
4 Northcote  Christchurch City
5 Avon Loop  Christchurch City
6 Mona Vale  Christchurch City

In [70]:
# Anti-join income data with crime dataset suburbs to find which suburbs are not of conventional naming standard
region_SA2 = anti_join(canterbury_income, crime_region, by = "Suburb")
region_SA2

    Suburb                              X5k_or_less X5k_to_10k X10k_to_20k
1   Kaikoura Ranges                     105          57        219
2   Kaikoura                            108          69        357
3   Hanmer Range                         21           6         30
4   Upper Hurunui                       114          57        258
5   Ashley Forest                        72          18         75
6   Omihi                               117          42        189
7   Balcairn                            201          84        357
8   Starvation Hill-Cust                210          60        273
9   Ashley-Sefton                       210          60        261
10  Rangiora North West                 162          48        360
11  Ashgrove                            135          57        195
12  Rangiora North East                 165          60        363
13  Oxford Estate                       108          33        165
14  Rangiora South West                 225          78        327
15  Lilybrook                           246         126        507
16  Mandeville-Ohoka                    285         102        291
17  Rangiora South East                 183          60        306
18  Swannanoa-Eyreton                   117          33         84
19  Pegasus Bay                          90          36        168
20  Silverstream (Waimakariri District)  63          18        123
21  Sovereign Palms                     285          90        423
22  Kaiapoi Central                     156          75        369
23  McLeans Island                       18          15         24
24  Christchurch Airport                 21          15         21
25  Clearwater                           81          18         69
26  Belfast West                        129          51        300
27  Brooklands-Spencerville              57          27         87
28  Belfast East                        183          72        315
29  Northwood                           375         111        405
30  Regents Park                        138          45        105
... ...                                 ...         ...        ...
156 Temuka East                         159         69         399
157 Gleniti North                        90         30         198
158 Fairview                            141         63         222
159 Gleniti South                       213         72         390
160 Marchwiel West                      123         45         288
161 Marchwiel East                      159         72         357
162 Highfield North                     201         78         426
163 Highfield South                     114         30         186
164 Waimataitai-Maori Hill              162         66         321
165 Inlet Port Timaru                    NA         NA          NA
166 Timaru Central                       42         18          75
167 Timaru East                          21          9          54
168 Kensington (Timaru District)        120         51         279
169 Mackenzie Lakes                      78         54         111
170 Inland water Lake Pukaki             NA         NA          NA
171 Inland water Lake Tekapo             NA         NA          NA
172 Twizel                              102         51         240
173 Opua (Mackenzie District)           126         45         144
174 Hakataramea                          75         27         120
175 Maungati                             69         18          75
176 Lyalldale                            60         30          90
177 Makikihi-Willowbridge                90         33         171
178 Waimate North                        51         24         120
179 Morven-Glenavy-Ikawai                96         33         135
180 Waimate West                        105         60         324
181 Waimate East                        126         42         405
182 Inland water Lake Ohau               NA         NA          NA
183 Danseys Pass                         78         33         168
184 Oceanic Canterbury Region            NA         NA          NA
185 NA                                   NA         NA          NA
    X20k_to_30k X30k_to_50k X50k_to_70k X70k_or_more Median_personal_income
1   201         354         219         213          35600
2   414         492         279         189          30200
3    21          63          33          33          37100
4   189         237         171         159          28300
5    60         117          84         105          36400
6   147         219         156         141          31000
7   303         387         303         294          31100
8   228         327         258         402          36700
9   222         324         276         351          36700
10  387         327         219         300          28400
11  174         273         192         171          32800
12  282         330         186         138          24700
13  141         192         177         195          35300
14  273         393         306         279          31700
15  426         525         342         243          26900
16  270         387         399         726          44300
17  282         339         270         321          33200
18   84         138         120         198          39100
19  141         192         147         105          30400
20  108         171         150         102          37100
21  318         606         444         603          38600
22  348         402         297         162          28200
23   21          39          24          30          32600
24   21          24          33          18          29100
25   48          84          84         216          50300
26  237         351         249         246          35600
27   84         138         105          96          36000
28  300         498         303         228          33400
29  372         543         393         786          37400
30   93         153         150         297          44900
... ...         ...         ...         ...          ...
156 312         387         270         264          29600
157 180         255         195         303          39600
158 204         315         210         201          32800
159 357         381         264         378          29900
160 216         261         183         111          26800
161 303         360         201         120          25200
162 342         363         249         348          28400
163 171         213         141         156          30400
164 297         381         255         243          30800
165  NA          NA          NA          NA             NA
166  60          87          63          24          27500
167  33          54          30          21          27400
168 201         285         180         102          27900
169 126         363         153         141          36500
170  NA          NA          NA          NA             NA
171  NA          NA          NA          NA             NA
172 207         315         159         171          31400
173 135         261         171         171          36600
174  87         159         102          84          32200
175  60         141          93         111          38500
176  78         123          90          69          31800
177 108         180         120         138          31800
178  75          75          63          48          22900
179  90         213         198         111          40600
180 228         201         132          72          22400
181 366         237         129          93          22500
182  NA          NA          NA          NA             NA
183 123         183         120          90          29500
184  NA          NA          NA          NA             NA
185  NA          NA          NA          NA             NA

In [90]:
# Remove the directions from suburb names, as these are usually the cause of mismatched rows
directions = c("North", "East", "South", "Wesr")

region_SA2 = region_SA2 %>%
    mutate(Suburb = str_remove_all(Suburb, " North| East| South| West")) %>%
    na.omit()

head(region_SA2)

  Suburb          X5k_or_less X5k_to_10k X10k_to_20k X20k_to_30k X30k_to_50k
1 Kaikoura Ranges 105         57         219         201         354
2 Kaikoura        108         69         357         414         492
3 Hanmer Range     21          6          30          21          63
4 Upper Hurunui   114         57         258         189         237
5 Ashley Forest    72         18          75          60         117
6 Omihi           117         42         189         147         219
  X50k_to_70k X70k_or_more Median_personal_income
1 219         213          35600
2 279         189          30200
3  33          33          37100
4 171         159          28300
5  84         105          36400
6 156         141          31000

In [93]:
# Group by suburb and sum all columns (except median_personal_income, which is taken as a mean) to combine necessary suburb data
agg_region_SA2 = region_SA2 %>% 
    group_by(Suburb) %>% 
    summarise(X5k_or_less = sum(X5k_or_less),
              X5k_to_10k = sum(X5k_to_10k),
              X10k_to_20k = sum(X10k_to_20k),
              X20k_to_30k = sum(X20k_to_30k),
              X30k_to_50k = sum(X30k_to_50k),
              X50k_to_70k = sum(X50k_to_70k),
              X70k_or_more = sum(X70k_or_more),
              Median_person_income = mean(Median_personal_income, na.rm = TRUE))
agg_region_SA2 = data.frame(agg_region_SA2)
head(agg_region_SA2)

  Suburb            X5k_or_less X5k_to_10k X10k_to_20k X20k_to_30k X30k_to_50k
1 Addington         534         210        840         684         1227
2 Allenton          339         129        600         645          801
3 Arundel           114          48        126         138          246
4 Ashburton          57          27        159         204          177
5 Ashburton Central  12           9         21          21           27
6 Ashburton Forks   195          60        216         177          414
  X50k_to_70k X70k_or_more Median_person_income
1 759         399          30950
2 648         594          34300
3 201         210          38800
4 111          99          27200
5  18          21          31100
6 372         285          41800