***
R program that takes the 2013-mb-dataset-Canterbury-Region-dwelling.xlsx dataset from Stats NZ and tranforms them to two csv datasets, meshblock.csv and area.csv
***

***
*imports tidyverse library so we can use packages like ggplot, tibble, tidyr, readr, dplyr, etc.*

In [1]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 4.0.5"
-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.1     v dplyr   1.0.7
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

Warning message:
"package 'ggplot2' was built under R version 4.0.5"
Warning message:
"package 'tibble' was built under R version 4.0.5"
Warning message:
"package 'tidyr' was built under R version 4.0.5"
Warning message:
"package 'readr' was built under R version 4.0.5"
Warning message:
"package 'purrr' was built under R version 4.0.5"
Warning message:
"package 'dplyr' was built under R version 4.0.5"
Warning message:
"package 'forcats' was built under R version 4.0.5"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

***
*installs readxl package to read Microsoft Excel files*

In [2]:
install.packages("readxl")

Installing package into 'C:/Users/coach/Documents/R/win-library/4.0'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\coach\Documents\R\win-library\4.0\00LOCK\readxl\libs\x64\readxl.dll to C:\Users\coach\Documents\R\win-library\4.0\readxl\libs\x64\readxl.dll: Permission denied"
Warning message:
"restored 'readxl'"

The downloaded binary packages are in
	C:\Users\coach\AppData\Local\Temp\RtmpqeIXnT\downloaded_packages

***
*imports readxl package to read Microsoft Excel files*

In [3]:
library(readxl)

Warning message:
"package 'readxl' was built under R version 4.0.5"

***
*Reads the 2013-mb-dataset-Canterbury-Region-dwelling.xlsx file*

In [26]:
excel_file <- "2013-mb-dataset-Canterbury-Region-dwelling.xlsx"

In [27]:
read_excel(excel_file)

New names:
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5

   2013 Census meshblock dataset
1  Tables about dwellings in the Canterbury Region
2  NA
3  1
4  NA
5  NA
6  NA
7  NA
8  NA
9  NA
10 2
11 NA
12 NA
13 NA
14 NA
15 NA
16 NA
17 3
18 NA
19 NA
20 NA
21 NA
22 NA
23 NA
24 4
25 NA
26 NA
27 NA
28 NA
29 NA
30 NA
31 5
32 NA
33 NA
34 NA
35 NA
36 NA
   ...2
1  NA
2  NA
3  Meshblock
4  Occupied private dwelling type
5  Dwelling record type for occupied dwellings
6  Number of rooms, for occupied private dwellings
7  Number of bedrooms, for occupied private dwellings
8  Fuel types used to heat dwellings (total responses), for occupied private dwellings
9  NA
10 Area unit
11 Occupied private dwelling type
12 Dwelling record type for occupied dwellings
13 Number of rooms, for occupied private dwellings
14 Number of bedrooms, for occupied private dwellings
15 Fuel types used to heat dwellings (total responses), for occupied private dwellings
16 NA
17 Ward
18 Occupied private dwelling type
19 Dwelling record type for occupied dwellings
20 Number of rooms, for occupied private dwellings
21 Number of bedrooms, for occupied private dwellings
22 Fuel types used to heat dwellings (total responses), for occupied private dwellings
23 NA
24 Territorial authority area
25 Occupied private dwelling type
26 Dwelling record type for occupied dwellings
27 Number of rooms, for occupied private dwellings
28 Number of bedrooms, for occupied private dwellings
29 Fuel types used to heat dwellings (total responses), for occupied private dwellings
30 NA
31 Regional council area
32 Occupied private dwelling type
33 Dwelling record type for occupied dwellings
34 Number of rooms, for occupied private dwellings
35 Number of bedrooms, for occupied private dwellings
36 Fuel types used to heat dwellings (total responses), for occupied private dwellings
   ...3                  ...4 ...5
1  NA                      NA   NA
2  NA                      NA   NA
3  Census data available   NA   NA
4  2001                  2006 2013
5  2001                  2006 2013
6  2001                  2006 2013
7  2001                  2006 2013
8  2001                  2006 2013
9  NA                      NA   NA
10 NA                      NA   NA
11 2001                  2006 2013
12 2001                  2006 2013
13 2001                  2006 2013
14 2001                  2006 2013
15 2001                  2006 2013
16 NA                      NA   NA
17 NA                      NA   NA
18 2001                  2006 2013
19 2001                  2006 2013
20 2001                  2006 2013
21 2001                  2006 2013
22 2001                  2006 2013
23 NA                      NA   NA
24 NA                      NA   NA
25 2001                  2006 2013
26 2001                  2006 2013
27 2001                  2006 2013
28 2001                  2006 2013
29 2001                  2006 2013
30 NA                      NA   NA
31 NA                      NA   NA
32 2001                  2006 2013
33 2001                  2006 2013
34 2001                  2006 2013
35 2001                  2006 2013
36 2001                  2006 2013

***
*Displays sheets contained in the Excel file*

In [28]:
excel_sheets(excel_file)

[1] "Contents"                     "Geographic key"
[3] "Footnotes and symbols"        "1 Meshblock"
[5] "2 Area unit"                  "3 Ward"
[7] "4 Territorial authority area" "5 Regional council area"

***
*Assigns the Geographic key sheet to geographic_df dataframe*

In [30]:
geographic_df <- read_excel(excel_file, sheet = "Geographic key")

New names:
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5
* `` -> ...6
* ...

In [31]:
geographic_df %>% 
nrow()

[1] 5918

In [32]:
geographic_df %>% 
glimpse()

Rows: 5,918
Columns: 9
$ `Geographic key` <chr> NA, "Meshblock (2013 areas)", NA, "MB 2308203", "MB 2~
$ ...2             <chr> NA, "Area unit code (2013 areas)", NA, "580900", "581~
$ ...3             <chr> NA, "Area unit description", NA, "Lake Tennyson", "Ka~
$ ...4             <chr> NA, "Ward code (2013 areas)", NA, "05801", "05499", "~
$ ...5             <chr> NA, "Ward description", NA, "Hanmer Springs Ward", "A~
$ ...6             <chr> NA, "Territorial authority code (2013 areas)", NA, "0~
$ ...7             <chr> NA, "Territorial authority area description", NA, "Hu~
$ ...8             <chr> NA, "Regional council code (2013 areas)", NA, "13", "~
$ ...9             <chr> NA, "Regional council area description", NA, "Canterb~

***

Part 1: Creating a meshblock dataset

***

***
*Creates a new dataframe using the first, second and third column of the geographic_df*

In [33]:
meshblock_df <- subset(geographic_df, select = c(1, 2, 3))

In [34]:
meshblock_df %>% 
glimpse()

Rows: 5,918
Columns: 3
$ `Geographic key` <chr> NA, "Meshblock (2013 areas)", NA, "MB 2308203", "MB 2~
$ ...2             <chr> NA, "Area unit code (2013 areas)", NA, "580900", "581~
$ ...3             <chr> NA, "Area unit description", NA, "Lake Tennyson", "Ka~

In [35]:
meshblock_df %>% 
head()

  Geographic key         ...2                        ...3
1 NA                     NA                          NA
2 Meshblock (2013 areas) Area unit code (2013 areas) Area unit description
3 NA                     NA                          NA
4 MB 2308203             580900                      Lake Tennyson
5 MB 2310701             581500                      Kaikoura Rural
6 MB 2310702             585601                      Parnassus

In [36]:
meshblock_df <- meshblock_df[-c(1, 2, 3), ]

***
*Deletes row 1, 2 and 3 from meshblock_df*

In [37]:
meshblock_df %>% 
head()

  Geographic key ...2   ...3
1 MB 2308203     580900 Lake Tennyson
2 MB 2310701     581500 Kaikoura Rural
3 MB 2310702     585601 Parnassus
4 MB 2310800     585601 Parnassus
5 MB 2310900     581500 Kaikoura Rural
6 MB 2311000     581500 Kaikoura Rural

In [38]:
meshblock_df %>%
colnames

[1] "Geographic key" "...2"           "...3"

***
*Renames meshblock_df column names*

In [39]:
meshblock_df <- cbind(rownames(meshblock_df), meshblock_df)
rownames(meshblock_df) <- NULL
colnames(meshblock_df) <- c("row", "meshblock_id", "area_code", "area_name")

In [40]:
meshblock_df %>% 
head()

  row meshblock_id area_code area_name
1 1   MB 2308203   580900    Lake Tennyson
2 2   MB 2310701   581500    Kaikoura Rural
3 3   MB 2310702   585601    Parnassus
4 4   MB 2310800   585601    Parnassus
5 5   MB 2310900   581500    Kaikoura Rural
6 6   MB 2311000   581500    Kaikoura Rural

***
*Remove row column and saves as meshblock.csv to local*

In [41]:
meshblock_df <- subset(meshblock_df, select = c(2, 3, 4))

In [42]:
meshblock_df  %>%
write_csv("meshblock.csv")

***

Part 2: Creating an area dataset

***

***
*Creates a new dataframe using the second, third, sixth, seventh and ninth column of the geographic_df*

In [88]:
area_df <- subset(geographic_df, select = c(2, 3, 6, 7, 9))

In [89]:
area_df %>% 
head()

  ...2                        ...3
1 NA                          NA
2 Area unit code (2013 areas) Area unit description
3 NA                          NA
4 580900                      Lake Tennyson
5 581500                      Kaikoura Rural
6 585601                      Parnassus
  ...6
1 NA
2 Territorial authority code (2013 areas)
3 NA
4 058
5 054
6 058
  ...7                                   ...9
1 NA                                     NA
2 Territorial authority area description Regional council area description
3 NA                                     NA
4 Hurunui District                       Canterbury Region
5 Kaikoura District                      Canterbury Region
6 Hurunui District                       Canterbury Region

***
*Deletes row 1, 2 and 3 from area_df*

In [90]:
area_df <- area_df[-c(1, 2, 3), ]

In [99]:
area_df %>% 
head()

    area_code area_name      territory_code territory_name
164 594700    Addington      060            Christchurch City
71  587845    Aidanfield     060            Christchurch City
191 596800    Akaroa         060            Christchurch City
190 596901    Akaroa Harbour 060            Christchurch City
207 597812    Allenton East  063            Ashburton District
208 597811    Allenton West  063            Ashburton District
    council
164 Canterbury Region
71  Canterbury Region
191 Canterbury Region
190 Canterbury Region
207 Canterbury Region
208 Canterbury Region

***
*Renames area_df column names*

In [100]:
area_df <- cbind(rownames(area_df), area_df)
rownames(area_df) <- NULL
colnames(area_df) <- c("row", "area_code", "area_name", "territory_code", "territory_name", "council")

In [101]:
area_df %>% 
head()

  row area_code area_name      territory_code territory_name
1 164 594700    Addington      060            Christchurch City
2 71  587845    Aidanfield     060            Christchurch City
3 191 596800    Akaroa         060            Christchurch City
4 190 596901    Akaroa Harbour 060            Christchurch City
5 207 597812    Allenton East  063            Ashburton District
6 208 597811    Allenton West  063            Ashburton District
  council
1 Canterbury Region
2 Canterbury Region
3 Canterbury Region
4 Canterbury Region
5 Canterbury Region
6 Canterbury Region

***
*Creates a duplicate column called suburb from area_name*

In [102]:
area_df$suburb = area_df$area_name

In [103]:
area_df %>% 
head()

  row area_code area_name      territory_code territory_name
1 164 594700    Addington      060            Christchurch City
2 71  587845    Aidanfield     060            Christchurch City
3 191 596800    Akaroa         060            Christchurch City
4 190 596901    Akaroa Harbour 060            Christchurch City
5 207 597812    Allenton East  063            Ashburton District
6 208 597811    Allenton West  063            Ashburton District
  council           suburb
1 Canterbury Region Addington
2 Canterbury Region Aidanfield
3 Canterbury Region Akaroa
4 Canterbury Region Akaroa Harbour
5 Canterbury Region Allenton East
6 Canterbury Region Allenton West

***
*Remove row column and duplicates in area_name column*

In [104]:
area_df <- subset(area_df, select = c(2, 3, 4, 5, 6, 7))

In [105]:
area_df <- distinct(area_df, across(contains("area_name")), , .keep_all = TRUE)

In [106]:
area_df %>% 
head()

  area_code area_name      territory_code territory_name     council
1 594700    Addington      060            Christchurch City  Canterbury Region
2 587845    Aidanfield     060            Christchurch City  Canterbury Region
3 596800    Akaroa         060            Christchurch City  Canterbury Region
4 596901    Akaroa Harbour 060            Christchurch City  Canterbury Region
5 597812    Allenton East  063            Ashburton District Canterbury Region
6 597811    Allenton West  063            Ashburton District Canterbury Region
  suburb
1 Addington
2 Aidanfield
3 Akaroa
4 Akaroa Harbour
5 Allenton East
6 Allenton West

***
*Save as area.csv to local*

In [98]:
area_df  %>%
write_csv("area.csv")